@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --body-small-body-small-400: Poppins;

  /* font sizes */
  --body-tiny-body-tiny-400-size: 12px;
  --font-size-2xs: 11px;
  --body-small-body-small-400-size: 14px;
  --body-medium-body-medium-500-size: 16px;
  --heading-05-heading-05-600-size: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --body-xxl-body-xxl-600-size: 24px;

  /* Colors */
  --gray-scale-white: #fff;
  --gray-scale-gray-500: #808080;
  --gray-scale-gray-900: #1a1a1a;
  --gray-scale-gray-800: #333;
  --gren-gray-scale-900: #002603;
  --gray-scale-gray-300: #b3b3b3;
  --gray-scale-gray-400: #999;
  --color-limegreen-100: #1acc21;
  --branding-success: #00b307;
  --color-limegreen-200: rgba(59, 207, 64, 0.2);
  --color-limegreen-300: rgba(32, 181, 38, 0.2);
  --gray-scale-gray-100: #e6e6e6;
  --gray-scale-gray-50: #f2f2f2;
  --branding-error: #ea4b48;
  --branding-success-dark: #2c742f;
  --gray-scale-gray-600: #666;
  --gray-scale-gray-700: #4d4d4d;
  --gray-scale-gray-200: #ccc;

  /* Gaps */
  --gap-5xl: 24px;
  --gap-mini: 15px;
  --gap-5xs: 8px;
  --gap-xl: 20px;
  --gap-xs: 12px;
  --gap-base: 16px;
  --gap-9xs: 4px;
  --gap-13xl: 32px;
  --gap-70xl: 89px;
  --gap-25xl: 44px;
  --gap-7xs: 6px;

  /* Paddings */
  --padding-281xl: 300px;
  --padding-131xl: 150px;
  --padding-56xl: 75px;
  --padding-5xl: 24px;
  --padding-7xs: 6px;
  --padding-10xs: 3px;
  --padding-base: 16px;
  --padding-xs: 12px;
  --padding-xl: 20px;
  --padding-9xs: 4px;
  --padding-8xl-5: 27.5px;
  --padding-12xs-5: 0.5px;
  --padding-2xs-5: 10.5px;
  --padding-sm: 14px;
  --padding-13xl: 32px;
  --padding-5xs: 8px;
  --padding-19xl: 38px;
  --padding-4xl: 23px;
  --padding-3xs: 10px;
  --padding-lg: 18px;
  --padding-9xs-5: 3.5px;

  /* Border radiuses */
  --br-481xl: 500px;
  --br-24xl: 43px;
  --br-9xs: 4px;
  --br-7xs: 6px;
}
