.messaging-container {
    display: flex;
    flex-direction: column;
  
  .search-row {
    height: 70px; /* Adjust height for shorter first row */
  }

  .Searchbar{
    margin-top: 20px; /* Adjust the value as needed */
  }
  
  .search-col {
    background-color: #90EE90; /* Light green for search bar */
  }
  
  .contacts-col {
    background-color: #00C78C; /* Medium green for contacts */

  }
  
  .chat-col {
    background-color: #2ECC71; /* Dark green for chat */
    height: 540px;
  }
}

.message {
  padding: 10px 15px;
  border-radius: 5px;
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.message-user {
  background-color: #e6f7ff;
  color: #333;
}

.message-other {
  background-color: #fff;
  color: #666;
}

.message-timestamp {
  font-size: 12px;
  color: #999;
  margin-left: 10px;
}
.chat-container {
  overflow-y: scroll; 
  height: 540px;
  padding: 10px;
  display: flex; 
  flex-direction: column;
}
