@media screen and (max-width: 480px) {
  .formContainer {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 90%;
  }

  .navbar .logo {
    display: none;
  }

  .user button {
    position: absolute;
    bottom: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    width: 65%;
  }
}

.formContainer .formWrapper {
  background-color: transparent;
  padding: 20px 60px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.formContainer .formWrapper .logo {
  color: #537a5d;
  font-weight: bold;
  font-size: 24px;
}

.formContainer .formWrapper .title {
  color: #324838;
  font-size: 12px;
}

.formContainer .formWrapper form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.formContainer .formWrapper form input {
  padding: 15px;
  border: none;
  width: 250px;
  border-bottom: 1px solid #77a883;
}

.formContainer .formWrapper form input::placeholder {
  color: rgb(175, 175, 175);
}

.formContainer .formWrapper form button {
  background-color: #60b877;
  color: white;
  padding: 10px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.formContainer .formWrapper form label {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #77a883;
  font-size: 12px;
  cursor: pointer;
}

.formContainer .formWrapper form label img {
  width: 32px;
}

.formContainer .formWrapper p {
  color: #537a5d;
  font-size: 12px;
  margin-top: 10px;
}

.home {
  background-color: #77a883;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home .container {
  border: 1px solid white;
  border-radius: 10px;
  width: 100%;
  height: 90%;
  display: flex;
  overflow: hidden;
}

.home .container .sidebar {
  flex: 1;
  background-color: #537a5d;
  position: relative;
}

.home .container .sidebar .navbar {
  display: flex;
  align-items: center;
  background-color: #324838;
  height: 50px;
  padding: 1%;
  justify-content: space-between;
  color: #ddddf7;
}

.home .container .sidebar .navbar .logo {
  font-weight: bold;

}

.home .container .sidebar .user img {
  background-color: #ddddf7;
  height: 24px;
  width: 30px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

.home .container .sidebar .user button {
  background-color: #60b877;
  color: #dddddd;
  font-size: 13px;
  margin-left: 50px;
  font-weight: bold;
  height: 30px;
  width: 50px;
  border: none;
  cursor: pointer;
}

.home .container .sidebar .search .searchForm input {
  background-color: #558a6360;
  width: 100%;
  border: none;
  color: white;
  outline: none;
}

.home .container .sidebar .search .searchForm input::placeholder {
  color: lightgray;
  padding: 1%;
}

.home .container .sidebar .userChat {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;
}

.home .container .sidebar .userChat:hover {
  background-color: #3e8952;
}

.home .container .sidebar .userChat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.home .container .sidebar .userChat .userChatInfo span {
  font-size: 18px;
  font-weight: 500;
}

.home .container .sidebar .userChat .userChatInfo p {
  font-size: 14px;
  color: lightgray;
}

.home .container .chat .chatInfo {
  height: 50px;
  width: 700px;
  background-color: #64ae78;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  color: lightgray;
}

.home .container .chat .chatIcons img {
  height: 24px;
  cursor: pointer;
}

.home .container .chat .messages {
  background-color: #dbf8eb;
  padding: 10px;
  height: calc(100% - 100px);
  overflow: scroll;
}

.container .chat .messages .message {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin-bottom: 20px;
}





.hide-placeholder-on-focus input::-webkit-input-placeholder {
  opacity: 1;
  transition: opacity 0.5s ease-in-out; 
}

.hide-placeholder-on-focus input:focus::-webkit-input-placeholder {
  opacity: 0;
}

.loading-text,
.no-chats-message {
  padding: 1%;
  font-weight: bold;
  font-size: 13px;
  color: #324838;
}

.chat-name {
  font-weight: bold;
}

.last-message {
  color: #ccc;
}







.home .container .chat .messages .message .messageInfo img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.home .container .chat .messages .message .messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.home .container .chat .messages .message .messageContent p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
  max-width: max-content;
}

.home .container .chat .messages .message.owner .messageContent p {
  background-color: #64ae78;
  color: white;
  border-radius: 10px 0px 10px 10px;
}
.home .container .chat .input {
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.home .container .chat .input input[type="text"] {
  width: calc(100% - 130px); /* Adjust based on the width of other elements */
  border: none;
  outline: none;
  color: #324838;
  font-size: 18px;
}

.home .container .chat .input input[type="text"]::placeholder {
  color: rgb(123, 119, 119);
}
.home .container .chat .input .send {
  display: flex;
  align-items: center;
  gap: 10px; /* Add spacing between elements */
}

.home .container .chat .input .send img {
  height: 24px;
  cursor: pointer;
}

.home .container .chat .input .send label {
  display: inline-block;
  position: relative;
  cursor: pointer;
}

.home .container .chat .input .send label img {
  height: 24px;
}

.home .container .chat .input .send button {
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: #60b877;
  cursor: pointer;
}
