.nouv {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.my-textarea {
  width: 765px;
  min-height: 100px;
  padding: 10px;
  font-size: 16px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  resize: none; /* Permet à l'utilisateur de redimensionner verticalement */
}

.my-file-input {
  margin-bottom: 10px;
}

button {
  margin-bottom: 10px;
}
.Direct:hover {
  background-color: #042f04;
}