.sign-up {
    background-color: #c4f4c1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .sign-up .div-2 {
    background-color: #c4f4c1;
    height: 919px;
    overflow: hidden;
    position: relative;
    width: 1440px;
  }
  
  .sign-up .element-removebg-preview {
    height: 339px;
    left: 724px;
    object-fit: cover;
    position: absolute;
    top: 512px;
    width: 627px;
  }
  
  .sign-up .navbar {
    height: 137px;
    left: -4px;
    position: absolute;
    top: 36px;
    width: 1440px;
  }
  
  .sign-up .overlap {
    background-image: url(./vector.svg);
    background-position: 50% 50%;
    background-size: cover;
    height: 137px;
    left: 4px;
    position: relative;
    width: 1436px;
  }
  
  .sign-up .container {
    height: 53px;
    left: 148px;
    position: relative;
    top: 41px;
    width: 1166px;
  }
  
  .sign-up .carts-and-button {
    height: 60px;
    left: 890px;
    position: absolute;
    top: 0;
    width: 276px;
  }
  
  .sign-up .carts {
    height: 25px;
    left: 0;
    position: absolute;
    top: 18px;
    width: 72px;
  }
  
  .sign-up .fill-button {
    align-items: center;
    background-color: var(--color-paletbutton-color);
    border-radius: 5px;
    display: flex;
    gap: 12px;
    height: 60px;
    justify-content: center;
    left: 96px;
    padding: 12px 16px;
    position: absolute;
    top: 0;
    width: 180px;
  }
  
  .sign-up .img {
    height: 24px;
    position: relative;
    width: 24px;
  }
  
  .sign-up .frame-2 {
    height: 43px;
    margin-bottom: -3.5px;
    margin-top: -3.5px;
    position: relative;
    width: 111px;
  }
  
  .sign-up .text-wrapper-2 {
    color: var(--color-paletpure-white);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -1px;
  }
  
  .sign-up .text-wrapper-3 {
    color: var(--color-paletpure-white);
    font-family: "Poppins-SemiBold", Helvetica;
    font-size: 16px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 18px;
  }
  
  .sign-up .nav-menu {
    align-items: flex-start;
    display: inline-flex;
    gap: 48px;
    left: 300px;
    position: absolute;
    top: 10px;
  }
  
  .sign-up .hovered {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 4px;
    position: relative;
  }
  
  .sign-up .text-wrapper-4 {
    color: var(--color-paletnav-menu-hover);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .sign-up .vector {
    height: 6.93px;
    margin-bottom: -0.8px;
    position: relative;
    width: 47.01px;
  }
  
  .sign-up .text-wrapper-5 {
    color: var(--color-paletparagraph-color);
    font-family: "Poppins-Medium", Helvetica;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .sign-up .overlap-group-2 {
    height: 38px;
    left: -92px;
    position: absolute;
    top: 4px;
    width: 251px;
  }
  
  .sign-up .logo-instance {
    left: 0 !important;
    position: absolute !important;
    top: 0 !important;
  }
  
  .sign-up .top-header {
    background-color: #edece9;
    height: 36px;
    left: -4px;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .sign-up .left-contents {
    align-items: flex-start;
    display: inline-flex;
    gap: 40px;
    left: 135px;
    position: relative;
    top: 10px;
  }
  
  .sign-up .social {
    flex: 0 0 auto;
    position: relative;
  }
  
  .sign-up .welcometo {
    color: var(--color-paletparagraph-color);
    font-family: "Poppins-Regular", Helvetica;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .sign-up .atteignez-vos {
    color: transparent;
    font-family: "Poppins-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 848px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 219px;
    width: 358px;
  }
  
  .sign-up .span {
    color: #2d5f4d;
  }
  
  .sign-up .text-wrapper-6 {
    color: #4f2d5f;
    font-family: "Poppins-Bold", Helvetica;
    font-weight: 700;
  }
  
  .sign-up .group-wrapper {
    align-items: flex-start;
    display: inline-flex;
    gap: 10px;
    height: 638px;
    left: 105px;
    padding: 0px 0px 64px;
    position: absolute;
    top: 206px;
  }
  
  .sign-up .group {
    height: 638px;
    margin-bottom: -64px;
    position: relative;
    width: 406px;
  }
  
  .sign-up .get-started-now-wrapper {
    align-items: flex-start;
    display: inline-flex;
    gap: 10px;
    height: 53px;
    left: 0;
    position: absolute;
    top: 0;
  }
  
  .sign-up .get-started-now {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .sign-up .frame-3 {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    height: 58px;
    left: 0;
    position: absolute;
    top: 111px;
    width: 404px;
  }
  
  .sign-up .div-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .sign-up .name-2 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .sign-up .frame-4 {
    align-items: flex-start;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    height: 32px;
    overflow: hidden;
    padding: 10px 0px 10px 10px;
    position: relative;
    width: 404px;
  }
  
  .sign-up .enter-your-name-wrapper {
    align-items: flex-start;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    margin-bottom: -3px;
    position: relative;
  }
  
  .sign-up .enter-your-name {
    color: #797979;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .sign-up .frame-instance {
    height: 58px !important;
    left: 0 !important;
    position: absolute !important;
    top: 188px !important;
  }
  
  .sign-up .frame-55-instance {
    border-color: #000000 !important;
  }
  
  .sign-up .design-component-instance-node {
    color: #797979 !important;
  }
  
  .sign-up .frame-5 {
    height: 58px !important;
    left: 0 !important;
    position: absolute !important;
    top: 266px !important;
  }
  
  .sign-up .overlap-group-wrapper {
    height: 15px;
    left: 3px;
    position: absolute;
    top: 483px;
    width: 400px;
  }
  
  .sign-up .overlap-group-3 {
    height: 14px;
    position: relative;
  }
  
  .sign-up .line {
    height: 2px;
    left: 0;
    position: absolute;
    top: 7px;
    width: 400px;
  }
  
  .sign-up .frame-6 {
    align-items: center;
    background-color: #ffffff;
    display: flex;
    gap: 10px;
    justify-content: center;
    left: 190px;
    padding: 0px 3px;
    position: absolute;
    top: 0;
    width: 20px;
  }
  
  .sign-up .text-wrapper-7 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 9px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  
  .sign-up .group-2 {
    height: 15px;
    left: 0;
    position: absolute;
    top: 344px;
    width: 145px;
  }
  
  .sign-up .i-agree-to-the-terms {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 9px;
    font-weight: 500;
    left: 15px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 128px;
  }
  
  .sign-up .rectangle {
    border: 1px solid;
    border-color: #000000;
    border-radius: 2px;
    height: 10px;
    left: 0;
    position: absolute;
    top: 2px;
    width: 9px;
  }
  
  .sign-up .frame-7 {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    height: 23px;
    left: 113px;
    position: absolute;
    top: 615px;
  }
  
  .sign-up .have-an-account-sign-wrapper {
    height: 21px;
    margin-right: -2px;
    position: relative;
    width: 286px;
  }
  
  .sign-up .have-an-account-sign {
    color: transparent;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .sign-up .text-wrapper-8 {
    color: #000000;
  }
  
  .sign-up .text-wrapper-9 {
    color: #0f3cde;
  }
  
  .sign-up .property-1-default {
    height: 35px !important;
    left: 0 !important;
    position: absolute !important;
    top: 388px !important;
  }
  
  .sign-up .property-default-instance {
    background-color: #3a5b22 !important;
    border-color: unset !important;
  }
  
  .sign-up .frame-8 {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--muted);
    border-radius: 10px;
    display: inline-flex;
    flex-direction: column;
    gap: 10px;
    left: 0;
    overflow: hidden;
    padding: 4px 20px;
    position: absolute;
    top: 560px;
  }
  
  .sign-up .frame-9 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    position: relative;
  }
  
  .sign-up .text-wrapper-10 {
    color: #000000;
    font-family: "Poppins-Medium", Helvetica;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    position: relative;
    width: fit-content;
  }
  
  .sign-up .frame-10 {
    align-items: center;
    border: 1px solid;
    border-color: var(--muted);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    left: 213px;
    overflow: hidden;
    padding: 4px 20px;
    position: absolute;
    top: 558px;
    width: 190px;
  }
  
  .sign-up .frame-11 {
    align-items: center;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 10px;
    justify-content: center;
    margin-left: -5px;
    margin-right: -5px;
    position: relative;
  }
  